/* _content/CompanyApp.Component.Extensions.Business/Component1.razor.rz.scp.css */
.my-component[b-tyqx4xd9on] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
